<header class = "mb-3">
    <nav class="navbar navbar-expand-md navbar-light bg-primary" style="color: white;">
      <a class="navbar-brand">Jornal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
       aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <!--Colocando a classe cor-font-cabecalho, a cor nao mudava. Mas setando um style, a cor mudou.
          Nao sei pq isso aconteceu, mas vou deixar assim por agora-->
          <ul class="navbar-nav ">
            <li class="nav-item active">
              <a class="nav-link" style="color: white;" routerLink = "#" >Home<span class="sr-only">(current)</span></a>
            </li>
            <mat-divider></mat-divider>
            <li class="nav-item ">
            <a class="nav-link" style="color: white;" routerLink = "#" >Noticias</a>
            </li>
            <mat-divider></mat-divider>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" routerLink = "#" >Politica</a>
            </li>
            <mat-divider></mat-divider>
            <li class="nav-item">
              <a class="nav-link" style="color: white;" routerLink = "#" >Esportes</a>
           </li>
           <mat-divider></mat-divider>
            <li class="nav-item">
            <a class="nav-link" style="color: white;" routerLink = "#" >Pop</a>
            </li>
          </ul>
      </div>
    </nav>
</header>
